*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{

   background-color: hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
   
}
.inside{

    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 4em;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(0, 0%, 20%);
    width: 300px;
border-radius: 10px;
height: 600px;


}
.imge{
    border-radius: 50%;
    width: 100px;
    padding-top: 1em;

}
.name{
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
padding-top: 1em; 
padding-bottom: 0.5em; 
}
.place{
    color: hsl(75, 94%, 57%);
font-family: Arial, Helvetica, sans-serif;
}
.about{
    padding-top: 2em;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.git{
    color: rgb(255, 255, 255);
    background-color:  hsl(0, 0%, 12%);
    width: 15em;
    height: 3em;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.ee{
    color: rgb(255, 255, 255);
    background-color:  hsl(0, 0%, 12%);
    width: 15em;
    height: 3em;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:600px){

.imge{
    display: none;
}
.inside{
   height: 500px;
    width: 300px;
}
}
.attribution{
padding-top: 4em;

}
.ee:hover{color: black;
    background-color: hsl(75, 94%, 57%);
    width: 15em;
    height: 2em;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;

}
.git:hover{
    color: black;
        background-color: hsl(75, 94%, 57%);
        width: 15em;
        height: 2em;
        padding: 5px;
        border-radius: 10px;
        text-align: center;
        margin-top: 1em;
        font-family: Arial, Helvetica, sans-serif;
    
}


